# Ignore Visual Studio folders
bin/
obj/
.vs/
Logs/
# Ignore Node, npm
node_modules/

# Ignore React build artifacts
travelease-ui/build/

# Ignore other common junk
*.log
*.user
*.suo
*.cache
*.DS_Store
Thumbs.db
appsettings.Development.json
.env
